.main {
    border: 1px solid black;
    border-radius: 20px;
    height: 500px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    font-size: 50px;
    animation-name: myAnimation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.loading_bar {
    margin: 50px;
    border: 1px solid black;
    border-radius: 20px;
    width: 500px;
    height: 50px;
}

.status_bar {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: blue;
    animation-name: myLoadingBarAnimation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.spiner_loading {
    border: 30px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation-name: myAnimationSpiner;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-right-color: transparent;
}

@keyframes myAnimation {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes myLoadingBarAnimation {
    0% {
        width: 100px;
    }
    25% {
        width: 200px;
    }
    50% {
        width: 300px;
    }
    75% {
        width: 400px;
    }
    100% {
        width: 500px
    }
}

@keyframes myAnimationSpiner {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
